version: "3.8"

services:
  redis:
    image: redis:6.2.6-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - local-dev-network
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ${REDIS_HOME_PATH}/data:/data
      - ${REDIS_HOME_PATH}/redis.conf:/usr/local/etc/redis/redis.conf
    restart: always
  mysql:
    image: mysql:8.0.33
    container_name: mysql
    ports:
      - 13306:3306
    networks:
      - local-dev-network
    volumes:
      - ${DB_INIT_FILE_PATH}:/docker-entrypoint-initdb.d
    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_unicode_ci'
      - '--lower_case_table_names=1'
    environment:
      MYSQL_ROOT_PASSWORD: wanted
      MYSQL_DATABASE: wanted_preonboarding

networks:
  local-dev-network: